@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");
body{
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.thirdframe>iframe{
    background: #21313C;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
    width:430px;
    height:290px; 
}
.thirdframe{
    margin: 30px 5%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap:30px ;  
    letter-spacing: 1px;  
}
.tab{
    margin:5%;
}
.tabhead{
    background-color: #8cebf1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding:15px 20px;
}
h3{
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px; 
    
}